# ignore extension
*.log
*.json
*.diff
*.pyc
*.pth

.ipynb_checkpoints

# editor settings
.vscode

configs
dataset
trained_model
ObstacleAvoidance\src\__pycache__\
codes\__pycache__\

# Local History for Visual Studio Code
.history/